<!DOCTYPE html>
<html>
    <head>
        <title>Deals</title>
        <style>
            td,th,table{
                border: 1px solid black;
                border-collapse: collapse;
            }
            th{
                background-color: lightblue;
            }
        </style>
    </head>
    <body>
        <h1>Deals</h1>
        <table class="table table-striped table-primary">
            <thead>
                <tr>
                    <th>Deal Name</th>
                    <th>Deal Stage</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Close Date</th>
                    <th>Deal Owner</th>
                    <th>Deal Source</th>
                    <th>Associated Company</th>
                </tr>
            </thead>
            <tbody>
                <%if (deals.length>0){%>
                    <%deals.forEach((row)=>{%>
                        <tr>
                            <td><%=row.deal_name%></td>
                            <td><%=row.deal_stage%></td>
                            <td><%=row.amount%></td>
                            <td><%=row.currency%></td>
                            <td><%=row.close_date%></td>
                            <td><%=row.deal_owner%></td>
                            <td><%=row.deal_source%></td>
                            <td><%=row.associated_company%></td>
                            <td><button class="edit">Edit</button></td>
                            <td><button class="delete">Delete</button></td>
                        </tr>
                    <%})} else {%>
                        <tr>
                            <td colspan="8">No deals found</td>
                        </tr>
                    <%}%>
            </tbody>
        </table>
        <script>
           const deleteBtns = document.querySelectorAll('.delete');
           let deals = fetch('/api/deals').then(result => deals=result);
           console.log(deals)
           deleteBtns.forEach(deal=>{
               deal.addEventListener('click',()=>{
                   console.log(deal.parentElement.parentElement);
               })
           })
        console.log(deleteBtns);
        </script>
    </body>
</html>